body {
		background-image: url("background.jpg");
		background-size: 115%;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	overflow:scroll;
    	font-size: 20px;
    	text-shadow: 0px -1px 0px #003;
}

p {
	margin: 5%;
	font-size:25px;
	font-family: 'Playfair Display', serif;
	text-shadow: 0px -1px 0px #003;
}

input {
	margin-bottom: 2%;
	margin-left: 15%;
	font-family: 'Playfair Display', serif;
}
button {
	margin: 0 auto;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	background-color: #FFDDA4;
}

.jumbotron h1 {
	font-size: 107px;
}

.essay {
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: bold;
	margin-left: 20%;
	margin-bottom: 5%;
	text-shadow: 0px -1px 0px #003;
}

.thing {
	text-align: center;
	font-size: 22px;
	margin-bottom: 2%;
    padding-left: 25px;
    padding-right: 25px;
    border: solid black;
    margin-left: 43%;
    font-family: 'Vast Shadow', cursive;
}
.letsGo {
	margin-left: 35%;
}
.done {
	margin-left: 44%;
}

.container {
	display: none;
	background-color: rgba(255, 255, 241, 0.4);
	height: 100%;
	font-weight:bold;
}

.home {
	display: block;
	font-family: 'Vast Shadow', cursive;
}

.names {
	display: none;
	margin-bottom: 2%;
}

.jumbotron {
	    font-family: 'Vast Shadow', cursive;
	    background-color: rgba(50, 148, 110, 0.4);
	    color: #7D2A21;
	    text-align: center;
}

.player1Name, .player2Name {
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Vast Shadow', cursive;
}

.blink-me {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}

.player1Name {
	color: #4E7CAB;
	margin-top: 15%;
	font-size: 30px;
}

.player2Name {
	color: #7B3B59;
	margin-top: 15%;
	font-size: 30px;
}

.player1Info {
	float: left;
	text-align: center;
}

.player2Info {
	float: right;
	text-align: center;
}

.player1Score {
	font-size: 45px;
	margin-top: 15%;
	font-family: 'Playfair Display', serif;
}

.player2Score {
	font-size: 45px;
	margin-top: 15%;
	font-family: 'Playfair Display', serif;
}

.questionBox {
	font-family: 'Playfair Display', serif;
	margin-bottom: 2%;
	font-size: 20px;
}
.question {
	margin-bottom: 4%;
}
.answer {
	display: block;
	width: 90%;
	text-align: left;
	margin: 1.5%;
	font-size: 20px;
}
.timer {
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 30px;
	font-family: 'Vast Shadow', cursive;
	height: 42px;
}
.winner {
	font-size: 55px;
	color: #FFA82B;
	font-family: 'Vast Shadow', cursive;
	text-shadow: 0px -1px 0px #003;
}

.col-centered{
    float: none;
    margin: 0 auto;
    margin-top: 10%;
}

.questions {
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

.continue {
	margin-right: 10%;
	margin-left: 20%;
}