body {
	font-family: 'Vast Shadow', cursive;
}

.container {
	display: none;
}

.home {
	display: block;
}

.names {
	display: none;
}

.jumbotron {
	    background-color: #32946E;
	    color: #7D2A21;
}

h1 {
	font-family: 'Vast Shadow', cursive;
	text-align: center;
}
.blink-me {
	font-weight: bold;
	text-decoration: underline;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.player1Name {
	color: blue;
}

.player2Name {
	color: green;
}

.player1Info {
	float: left;
}

.player2Info {
	float: right;
}

.questions {
	position: relative;
	margin: 
}
.questionBox {
	margin-bottom: 20%;
}
.answer {
	display: block;
}